.sidebar{
  position: fixed;
  left: 0;
  bottom: 0;
  top: 55px;
  background-color: white;
  width: 72px;
  z-index: 200; 
  /* to bring it to the top */
  padding-top: 5px;

}

.sidebar-links{
  height: 74px;
  display: flex;
  align-items: center;      
  justify-content: center;
  flex-direction: column;  
  cursor: pointer;
  
}
.sidebar-links:hover{
  background-color: rgb(236, 236, 236);
}

.sidebar-links img{
  height: 25px;
  margin-bottom: 4px;
}

.sidebar-links div{
  font-family: Roboto, Arial;
  font-size: 10px;

}

.sidebar a{
  text-decoration: none;
  color: black;
  text-align: center;
}
#reelupload{
  display: none;
}